@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: antiquewhite;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

header {
  color: #c79ccf;
  height: 90px;
  text-align: center;
  font-size: 2.5rem;
  font-style: italic;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 800;
  background-color: rgb(15, 15, 15);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-shadow: 5px 5px 4px #000000;
  margin-bottom: 10px;
}

.main {
  display: flex;
  height: calc(100vh - (90px + 50px + 20px));
  width: 99%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 50%;
  height: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 10px;
  padding-left: 40px;
  transition: all 0.3s ease-in-out;
}

.form-container h1 {
  margin-left: 30px;
  color: hsl(286, 100%, 95%);
}

.result-container {
  width: 50%;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container p {
  max-width: 80%;
  text-align: center;
  color: #f9e5ff;
  font-weight: 700;
  font-size: 3rem;
}

footer {
  position: fixed;
  bottom: 10px;
  height: 50px;
}

section {
  display: flex;
}

span {
  border-radius: 10px;
  padding: 10px;
  background-color: #2e1b25;
  color: #c79ccf;
  cursor: pointer;
  box-shadow: 5px 5px 7px #0f090c;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column-reverse;
    height: calc(100vh - 90px - 10px);
    justify-content: center;
    align-items: center;
  }

  .form-container {
    padding-left: 10px;
  }
  .result-container,
  .form-container {
    width: 100%;
    min-height: 220px;
  }

  .form-container h1 {
    margin-left: 10px;
    padding: 10px;
    font-size: 2rem;
  }

  header {
    font-size: 1.8rem;
  }

  .result-container p {
    font-size: 2.24rem;
  }
}

@media screen and (max-width: 376px) {
  .result-container p {
    font-size: 1.6rem;
  }

  .form-container h1 {
    margin-left: 10px;
    padding: 10px;
    font-size: 1.4rem;
  }
}
